.window{
    display: flex;
    flex-direction: row;
   
    min-height:100vh;
}
.sideMenu{
    min-height: 100%;
    width: 300px;
    padding: 16px;
    box-shadow: 2px 0 4px 0 rgba(0, 0, 0, 0.08);
}
.pages{
    min-height: 100%;
    width: 100%;
    padding: 24px 48px;
   
}
